@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.base-layout-container{
    min-height: 100vh;
    background: $primary-background-color;
    position: relative;
    .view-wrapper{
        width: 100%;
        overflow-y: auto;
        padding-top: $header-height;
        height: calc(100vh - #{$header-height});
        background-color: $primary-background-color;
    }
  }