$white-color: #FFFFFF;
$alto-color: #DDDDDD;
$primary-background-color: #E5E5E5;
$completed-status-color: green;
$pending-status-color: orange;
$border-color: #CED4DA;
$input-focused-color: #1976D2;
$input-error-color: #F44336;