@import '../../styles/colors.scss';

.order-list-wrapper{
    padding: 20px;
    @media screen and (min-width: 768px) {
        padding: 80px;
    }

    .section-heading{
        font-size: 28px;
        font-weight: 700;
        margin-top: 0px;
    }

    .order-list-table{
        background-color: $white-color;
        table {
            border-collapse: collapse;
            width: 100%;
            tr{
                border-bottom: 1px solid $alto-color;
            }
        }
        tbody{
            tr{
                border-bottom: 1px solid $alto-color;
                &:last-child{
                    border-bottom: 0px;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
        td, th {
            text-align: left;
            padding: 30px 10px;
            border-left: 0px;
            border-right: 0px;
        }
        .status{
            text-transform: capitalize;
        }
        .pending{
            color: $completed-status-color;
        }
        .completed{
            color: $pending-status-color;
        }
    }
}