@import '../../styles/colors.scss';

.input-wrapper{
    margin-bottom: 15px;

    input[type=text],
    input[type=number]{
        width: 100%;
        padding: 12px;
        outline: none;
        font-size: 16px;
        border-radius: 4px;
        box-sizing : border-box;
        border: 1px solid $border-color;

        &:focus{
            outline: 0 none;
            border: 1px solid $input-focused-color;
        }
    }
    .error{
        border: 1px solid $input-error-color !important;
    }
}