@import '../../styles/colors.scss';

.order-details-wrapper{
    padding: 20px;
    @media screen and (min-width: 768px) {
        padding: 80px;
    }
    .section-heading{
        font-size: 28px;
        font-weight: 700;
        margin-top: 0px;   
    }
    .breadcrumb-wrapper{
        display: flex;
        margin-bottom: 5px;
        .page-link{
            font-size: 18px;
            margin-top: 10px;
            color: $input-focused-color;
            &:hover{
                cursor: pointer;
            }
        }
        .current-page-link{
            font-size: 18px;
            margin-top: 10px;
        }
    }

    .card-wrapper:nth-child(4){
        margin-top: 40px;
    }
    
    .address-container{
        width: 100%;
        padding-bottom: 20px;
        @media screen and (min-width: 768px) {
            display: flex;
            padding-bottom: 60px;
        }

        .billing-address, .shipping-address{
            margin-bottom: 10px;
            margin: 0px 20px;
            @media screen and (min-width: 768px) {
                width: 30%;
            }

            .sub-section-heading{
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    .product-list-wrapper{
        overflow-x: auto;
        table {
            border-collapse: collapse;
            width: 100%;
            tr{
                border-bottom: 1px solid $alto-color;
            }
        }
        tbody{
            tr{
                border-bottom: 1px solid $alto-color;
                &:last-child{
                    border-bottom: 0px;
                }
            }
        }
        td, th {
            text-align: left;
            padding: 30px 10px;
            min-width: 100px;
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;
            .input-wrapper{
                margin: 0px;
            }
        }
    }
    .action-wrapper{
        display: flex;
    }
    .add-product-button-wrapper{
        margin-left: 10px;
    }
    .save-button-wrapper{
        display: flex;
        margin-right: 40px;
        justify-content: flex-end;
    }
}